version: '3.7'
services:
  nextcloud-db:
    image: mariadb:10.8.3-jammy
    container_name: nextcloud-mariadb
    command: --transaction-isolation=READ-COMMITTED --log-bin=ROW --skip-innodb-read-only-compressed
    restart: unless-stopped
    volumes: 
      - ./mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    
  nextcloud-redis:
    image: redis:alpine
    container_name: nextcloud-redis
    hostname: nextcloud-redis
    restart: unless-stopped
    command: redis-server --requirepass password

  nextcloud-app:
    image: nextcloud:23.0.6-apache
    container_name: nextcloud-app
    restart: unless-stopped
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    ports:
      - 80:80
    environment:
      - REDIS_HOST=nextcloud-redis
      - REDIS_HOST_PASSWORD=password
      - MYSQL_HOST=nextcloud-mariadb
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=nextcloud
    volumes:
      - ./nextcloud:/var/www/html
